<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from templates.hibotheme.com/bixu/default/about-style-one.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Feb 2025 18:57:32 GMT -->
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Css Link -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="assets/css/animate.min.css"> 
        <link rel="stylesheet" href="assets/css/scrollCue.css"> 
        <link rel="stylesheet" href="assets/css/aos.css"> 
        <link rel="stylesheet" href="assets/css/boxicons.min.css"> 
        <link rel="stylesheet" href="assets/css/magnific-popup.css"> 
        <link rel="stylesheet" href="assets/css/flaticon.css"> 
        <link rel="stylesheet" href="assets/css/meanmenu.min.css"> 
        <link rel="stylesheet" href="assets/css/odometer.min.css"> 
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css"> 
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> 
        <link rel="stylesheet" href="assets/css/style.css"> 
        <link rel="stylesheet" href="assets/css/dark.css"> 
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Bixu - Outdoor & Home Services HTML Template</title>

        <link rel="icon" type="image/png" href="assets/images/favicon.png"> 
 
    </head>
    <body>

  <!-- Start Dark Mode -->
  <div class="switch-theme-mode">
    <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="slider round"></span>
    </label>
</div>
<!-- End Dark Mode -->

<!-- Start Header Area -->
<div class="header-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="single-header-left-content">
                    <ul>
                        <li>
                            <i class="flaticon-phone-call"></i>
                            <a href="tel:+965705064">965705064</a>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <a
                                href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#e38b868f8f8ca3818a9b96cd808c8e"><span
                                    class="__cf_email__"
                                    data-cfemail="7d15181111123d1f140508531e1210">ProFixer@gmail.com</span></a>
                        </li>
                        <li>
                            <i class="flaticon-pin"></i>
                            FC Road Pune
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-header-right-list">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" target="_blank">
                                <i class="flaticon-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-shape-1">
        <img src="assets/images/topbar-shape-1.png" alt="images">
    </div>
    <div class="header-shape-2">
        <img src="assets/images/topbar-shape-2.png" alt="images">
    </div>
</div>
<!-- End Header Area -->

<!-- Start Menubar Area -->
<div class="navbar-area">
    <!-- Start Menu For Mobile Device -->
    <div class="container">
        <div class="mobile-nav">
            <div class="logo">
                <a href="/">
                    <img src="assets/images/logo-one.png" class="logo-light" alt="images">
                    <img src="assets/images/logo-two.png" class="logo-dark" alt="images">
                </a>
            </div>
        </div>
    </div>
    <!-- End Menu For Mobile Device -->

    <div class="main-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">

                <a href="/">
                    <img src="assets/images/logo-one.png" class="logo-light" alt="images">
                    <img src="assets/images/logo-two.png" class="logo-dark" alt="images">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item nav-item-five">
                            <a href="#" class="nav-link dropdown-toggle active">
                                Home
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/" class="nav-link bg-border-top active">Cleaning Services</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Handyman Plumber</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-2">Electrician Services</a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item nav-item-five">

                            <a href="#" class="nav-link dropdown-toggle">
                                About Us
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/about" class="nav-link bg-border-top" id="about-link">About Style One</a>
                                </li>
                            </ul>
                            
                            

                        </li>

                        <li class="nav-item nav-item-five">

                            <a href="/services" class="nav-link dropdown-toggle">
                                Services
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/services" class="nav-link bg-border-top">Our Services</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href=" href="#"" class="nav-link bg-border-2">Services
                                        Details</a>
                                </li> -->
                            </ul>

                        </li>
<!-- 
                        <li class="nav-item nav-item-five">

                            <a href="#" class="nav-link dropdown-toggle">
                                Portfolio
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-top">Our Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-2">Portfolio
                                        Details</a>
                                </li>
                            </ul>

                        </li> -->

                        <li class="nav-item nav-item-five">

                            <a href="#" class="nav-link dropdown-toggle">
                                Pages
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-top">Team</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">FAQ</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Testimonials</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Our Pricing</a>
                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link dropdown-toggle">
                                        User
                                        <i class='bx bx-chevron-down'></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#"class="nav-link bg-border-top">My Account</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Register</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link bg-border-2">Forgot
                                                Password</a>
                                        </li>
                                    </ul>

                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Terms & Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Error</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-2">Coming Soon</a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item nav-item-five">

                            <a href="#" class="nav-link dropdown-toggle">
                                Blog
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-top">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link bg-border-2">Blog Details</a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item">
                            <a href="/contact" class="nav-link">Contact Us</a>
                        </li>
                    </ul>


                    <div class="others-option-vg d-flex align-items-center">

                        <div class="option-item">
                            <button type="button" class="search-btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                <i class="flaticon-search"></i>
                            </button>
                        </div>

                        <div class="option-item">
                            <a href="/contact" class="default-btn">Get Free Estimate</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-option justify-content-center d-flex align-items-center">

                        <div class="option-item">
                            <button type="button" class="search-btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                <i class="flaticon-search"></i>
                            </button>
                        </div>

                        <div class="option-item">
                            <a href="/contact" class="default-btn">Get Free Estimate</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Start Page Banner Area -->
        <div class="page-banner-area pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="single-page-banner-content">
                            <h1>About Us</h1>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    About Us
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-page-banner-img" data-cue="zoomIn" data-duration="1000">
                            <img src="assets/images/page-banner-img.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->
<!-- ABout  -->
        <div class="about-style-one-area pt-100 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6" data-cue="slideInLeft" data-duration="1500">
                        <div class="single-about-img">
                            <div class="about-img-one">
                                <img src="assets/images/about/about-style-1-img.png" alt="images">
                            </div>
                            <div class="about-shape-1">
                                <img src="assets/images/about/rrrrr.png" alt="images">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInRight" data-duration="1500">
                        <div class="single-about-content">
                            <span>About Us</span>
                            <h2>We Will Make Absolutely Any Place Clean, Neat</h2>
                            <p>At ProFixer, we are committed to delivering top-quality cleaning services for homes and businesses. Our expert team ensures a spotless, fresh, and hygienic environment with attention to every detail..</p>
                            <div class="single-about-item">
                                <div class="about-icon bg-color">
                                    <i class="flaticon-favorite"></i>
                                </div>
                                <h3>We Provide Qualified & Expert</h3>
                                <p> Qualified & Experienced Professionals
                                    Our skilled cleaning specialists are trained to handle all types of cleaning tasks with precision and care..</p>
                            </div>
                            <div class="single-about-item">
                                <div class="about-icon">
                                    <i class="flaticon-wrench"></i>
                                </div>
                                <h3>Modern Tools & Technology Use</h3>
                                <p>We use modern equipment and eco-friendly cleaning solutions to achieve the best results efficiently.</p>
                            </div>
                            <a href="/about" class="default-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-style-shape-1">
                <img src="assets/images/about/about-style-one-shape-3.png" alt="images">
            </div>
        </div>
        <!-- End About Style One Area -->

        <!-- Start Watch Video Area -->
        <div class="video-watch-area pt-100">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Watch Video</span>
                    <h2>We Create the Perfect Shine</h2>
                </div>
                <div class="video-watch-item">
                    <img src="assets/images/intro-video-img-1.jpg" alt="images">
                    <div class="video-play">
                        <a href="https://www.youtube.com/watch?v=-z-wtyXjFIg" class="popup-youtube">
                            <img src="assets/images/intro-video-play-icon.svg" alt="images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Watch Video Area -->
        
        <!-- Start Our Pricing Area -->
        <div class="pricing-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Our Pricing</span>
                    <h2>Our Price Is Affordable</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-pricing-card" data-cue="fadeIn" data-duration="1000">
                            <div class="basic-plan">
                                <span>Basic Plan</span>
                                <h3>800.00</h3>
                                <p>Per Month</p>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li>Fully Professional Cleaner<i class='bx bx-check-circle' ></i></li>
                                    <li>Living Room Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Bed Room Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Bathroom Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li><del>Windows & Door Cleaning</del><i class='bx bx-check-circle bg-color1' ></i></li>
                                    <li><del>Roof Cleaning</del><i class='bx bx-check-circle bg-color1' ></i></li>
                                    <li><del>Kitchen Cleaning</del><i class='bx bx-check-circle bg-color1' ></i></li>
                                </ul>
                            </div>
                            <a href="pricing.html" class="default-btn btn-style-one">Get Now</a>
                            <div class="pricing-shape">
                                <img src="assets/images/pricing-shape.png" alt="images">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-pricing-card" data-cue="fadeIn" data-duration="2000">
                            <div class="basic-plan">
                                <span>Smart Plan</span>
                                <h3>1500.00</h3>
                                <p>Per Month</p>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li>Fully Professional Cleaner<i class='bx bx-check-circle' ></i></li>
                                    <li>Living Room Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Bed Room Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Bathroom Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Windows & Door Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li><del>Roof Cleaning</del><i class='bx bx-check-circle bg-color1' ></i></li>
                                    <li><del>Kitchen Cleaning</del><i class='bx bx-check-circle bg-color1' ></i></li>
                                </ul>
                            </div>
                            <a href="pricing.html" class="default-btn btn-style-one">Get Now</a>
                            <div class="pricing-shape">
                                <img src="assets/images/pricing-shape.png" alt="images">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-pricing-card" data-cue="fadeIn" data-duration="3000">
                            <div class="basic-plan">
                                <span>Silver Plan</span>
                                <h3>2500</h3>
                                <p>Per Month</p>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li>Fully Professional Cleaner<i class='bx bx-check-circle' ></i></li>
                                    <li>Living Room Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Bed Room Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Bathroom Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Windows & Door Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Roof Cleaning<i class='bx bx-check-circle' ></i></li>
                                    <li>Kitchen Cleaning<i class='bx bx-check-circle' ></i></li>
                                </ul>
                            </div>
                            <a href="pricing.html" class="default-btn btn-style-one">Get Now</a>
                            <div class="pricing-shape">
                                <img src="assets/images/pricing-shape.png" alt="images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing-shape-two" data-cue="bounceIn" data-duration="800">
                <img src="assets/images/pricing-shape-2.png" alt="images">
            </div>
        </div>
        <!-- End Our Pricing Area -->

        <!-- Start Our Team Area -->
        <div class="team-area pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Our Team</span>
                    <h2>Our cleaning Service Team</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-team-card" data-cue="fadeIn" data-duration="1000">
                            <div class="team-img">
                                <a href="team.html">
                                    <img src="assets/images/team/team-img-1.png" alt="images">
                                </a>
                            </div>    
                            <div class="single-team-card-content">
                                <a href="team.html"><h3>Ramesh</h3></a>
                                <p>Cleaning Expert</p>
                                <ul class="team-list">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="flaticon-facebook"></i>
                                        </a>
                                    </li>   
                                    <li>
                                        <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>    
                                    <li> 
                                        <a href="https://www.youtube.com/" target="_blank">
                                            <i class="flaticon-youtube"></i>
                                        </a>  
                                    </li> 
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-instagram"></i>
                                        </a>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-team-card" data-cue="fadeIn" data-duration="1500">
                            <div class="team-img">
                                <a href="team.html">
                                    <img src="assets/images/team/team-img-2.png" alt="images">
                                </a>
                            </div>
                            <div class="single-team-card-content">
                                <a href="team.html"><h3>vaibhavi</h3>
                                <p>Cleaning Expert</p>
                                <ul class="team-list">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="flaticon-facebook"></i>
                                        </a>
                                    </li>   
                                    <li>
                                        <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>    
                                    <li> 
                                        <a href="https://www.youtube.com/" target="_blank">
                                            <i class="flaticon-youtube"></i>
                                        </a>  
                                    </li> 
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-instagram"></i>
                                        </a>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-team-card" data-cue="fadeIn" data-duration="2500">
                            <div class="team-img">
                                <a href="team.html">
                                    <img src="assets/images/team/team-img-3.png" alt="images">
                                </a>
                            </div>
                            <div class="single-team-card-content">
                                <a href="team.html"><h3>aniket</h3></a>
                                <p>Cleaning Expert</p>
                                <ul class="team-list">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="flaticon-facebook"></i>
                                        </a>
                                    </li>   
                                    <li>
                                        <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>    
                                    <li> 
                                        <a href="https://www.youtube.com/" target="_blank">
                                            <i class="flaticon-youtube"></i>
                                        </a>  
                                    </li> 
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-instagram"></i>
                                        </a>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-team-card" data-cue="fadeIn" data-duration="3000">
                            <div class="team-img">
                                <a href="team.html">
                                    <img src="assets/images/team/team-img-4.png" alt="images">
                                </a>
                            </div>
                            <div class="single-team-card-content">
                                <a href="team.html"><h3>Scarlett Emily</h3></a>
                                <p>Cleaning Expert</p>
                                <ul class="team-list">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="flaticon-facebook"></i>
                                        </a>
                                    </li>   
                                    <li>
                                        <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>    
                                    <li> 
                                        <a href="https://www.youtube.com/" target="_blank">
                                            <i class="flaticon-youtube"></i>
                                        </a>  
                                    </li> 
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                            <i class="flaticon-instagram"></i>
                                        </a>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-all-btn">
                    <a href="team.html" class="default-btn btn-style-one">View All</a>
                </div>
            </div>
        </div>
        <!-- End Our Team Area -->

        <!-- Start Our Testimonial Area -->
        <div class="testimonials-area pt-100 pb-70">
            <div class="container">
                <div class="section-title section-title-left">
                    <span class="top-title">Our Testimonial</span>
                    <h2>What People are Saying!</h2>
                </div>
                <div class="testimonials-slider owl-carousel owl-theme">
                    <div class="single-testimonials-card">
                        <i class="flaticon-quote"></i>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolo rese quas moleum stias excepturi sint occaecati cupiditate non provident et odio dignissimos ducimus qui blanditiis.</p>
                        <div class="testimonials-text">
                            <a href="testimonials.html">
                                <img src="assets/images/testimonials/testimonials-img-1.png" alt="images">
                            </a>
                            <div class="testimonials-bg-content">
                                <a href="testimonials.html">
                                    <h3>Vashanvi</h3>
                                </a> 
                                <p>Cleaning Expert</p>
                            </div>
                        </div>
                        <div class="testimonials-shape">
                            <img src="assets/images/testimonials/testimonials-shape.png" alt="images">
                        </div>
                    </div>
                    <div class="single-testimonials-card">
                        <i class="flaticon-quote"></i>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolo rese quas moleum stias excepturi sint occaecati cupiditate non provident et odio dignissimos ducimus qui blanditiis.</p>
                        <div class="testimonials-text">
                            <a href="testimonials.html">
                                <img src="assets/images/testimonials/testimonials-img-2.png" alt="images">
                            </a>
                            <div class="testimonials-bg-content">
                                <a href="testimonials.html">
                                    <h3>Vaibhav</h3>
                                </a>
                                <p>Cleaning Expert</p>
                            </div>
                        </div>
                        <div class="testimonials-shape">
                            <img src="assets/images/testimonials/testimonials-shape.png" alt="images">
                        </div>
                    </div>
                    <div class="single-testimonials-card">
                        <i class="flaticon-quote"></i>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolo rese quas moleum stias excepturi sint occaecati cupiditate non provident et odio dignissimos ducimus qui blanditiis.</p>
                        <div class="testimonials-text">
                            <a href="testimonials.html">
                                <img src="assets/images/testimonials/testimonials-img-1.png" alt="images">
                            </a>
                            <div class="testimonials-bg-content">
                                <a href="testimonials.html">
                                    <h3>Mrunali</h3>
                                </a> 
                                <p>Cleaning Expert</p>
                            </div>
                        </div>
                        <div class="testimonials-shape">
                            <img src="assets/images/testimonials/testimonials-shape.png" alt="images">
                        </div>
                    </div>
                    <div class="single-testimonials-card">
                        <i class="flaticon-quote"></i>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolo rese quas moleum stias excepturi sint occaecati cupiditate non provident et odio dignissimos ducimus qui blanditiis.</p>
                        <div class="testimonials-text">
                            <a href="testimonials.html">
                                <img src="assets/images/testimonials/testimonials-img-2.png" alt="images">
                            </a>
                            <div class="testimonials-bg-content">
                                <a href="testimonials.html">
                                    <h3>Omkar</h3>
                                </a>
                                <p>Cleaning Expert</p>
                            </div>
                        </div>
                        <div class="testimonials-shape">
                            <img src="assets/images/testimonials/testimonials-shape.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Our Testimonial Area -->

        <!-- start Partner Area -->
        <div class="partner-logo-area pb-70">
            <div class="container">
                <div class="partner-logo-slider owl-carousel owl-theme">
                    <div class="partner-logo-img">
                        <img src="assets/images/partner/partner-logo-1.png" alt="images">
                        <div class="partner-logo-two">
                            <img src="assets/images/partner/partner-logo-6.png" alt="images">
                        </div>
                    </div>
                    <div class="partner-logo-img">
                        <img src="assets/images/partner/partner-logo-2.png" alt="images">
                        <div class="partner-logo-two">
                            <img src="assets/images/partner/partner-logo-7.png" alt="images">
                        </div>
                    </div>
                    <div class="partner-logo-img">
                        <img src="assets/images/partner/partner-logo-3.png" alt="images">
                        <div class="partner-logo-two">
                            <img src="assets/images/partner/partner-logo-8.png" alt="images">
                        </div>
                    </div>
                    <div class="partner-logo-img">
                        <img src="assets/images/partner/partner-logo-4.png" alt="images">
                        <div class="partner-logo-two">
                            <img src="assets/images/partner/partner-logo-9.png" alt="images">
                        </div>
                    </div>
                    <div class="partner-logo-img">
                        <img src="assets/images/partner/partner-logo-5.png" alt="images">
                        <div class="partner-logo-two">
                            <img src="assets/images/partner/partner-logo-10.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Our NewsLetter Area -->
        <div class="newsletter-area about-newsletter-area">
            <div class="container">
                <div class="newsletter-bg-color">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="single-newsletter-img" data-cue="zoomIn" data-duration="1000">
                                <img src="assets/images/newsletter-img-1.png" alt="images">
                                <div class="newsletter-shape-1">
                                    <img src="assets/images/newsletter-shape-1.png" alt="images">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-newsletter-content" data-cue="slideInRight" data-duration="2000">
                                <div class="section-title section-title-left">
                                    <span class="top-title">Our NewsLetter</span>
                                    <h2>Subscribe Newsletter</h2>
                                </div>
                                <div class="subscribe-from"> 
                                    <form class="newsletter-form" data-toggle="validator" novalidate="true">
                                        <input type="email" class="form-control" placeholder=" Enter Your Email" name="EMAIL" required="" autocomplete="off">
                            
                                        <button class="default-btn btn-style-one" type="submit">
                                            Subscribe Now
                                        </button>
                            
                                        <div id="validator-newsletter" class="form-result"></div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsletter-shape-two">
                        <img src="assets/images/newsletter-shape-2.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Our NewsLetter Area -->

        <!-- Start Footer Area -->
        <div class="footer-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-12">
                        <div class="footer-widget" data-cue="fadeIn" data-duration="1000">
                            <a href="/">
                                <img src="assets/images/logo-two.png" alt="images">
                            </a>
                            <p>Our professional home services offer convenience and quality, ensuring your home is always in top condition. From cleaning and maintenance to repairs and installations, we are dedicated to delivering exceptional service tailored to your needs. Whether it's a quick fix or a major project, trust our experienced team to provide reliable and efficient solutions, making your home more comfortable and functional. Experience peace of mind with our trusted home service experts.</p>
    
                            <ul class="souile-footer-widget-list">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="flaticon-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-md-4">
                                <div class="footer-widget footer-left-widget" data-cue="fadeIn" data-duration="1300">
                                    <h2>Our Services</h2>
                                    <ul class="list-widget">
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back'></i>Carpet
                                                Cleaning</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back'></i>Plumbing
                                                Services</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back'></i>Home
                                                Cleaning</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back'></i>Office
                                                Services</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back'></i>Glass
                                                Cleaning</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4">
                                <div class="footer-widget footer-left-two-widget" data-cue="fadeIn" data-duration="1800">
                                    <h2>Explore</h2>
                                    <ul class="list-widget">
                                        <li>
                                            <a href="/about"><i class='bx bx-arrow-back'></i>About Us</a>
                                        </li>
                                        <li>
                                            <a href="/contact"><i class='bx bx-arrow-back'></i>Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="team.html"><i class='bx bx-arrow-back'></i>Our Team</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back'></i>Our Services</a>
                                        </li>
                                        <li>
                                            <a href="Pricing-2.html"><i class='bx bx-arrow-back'></i>Pricing & Plans</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4">
                                <div class="footer-widget footer-left-three-widget" data-cue="fadeIn" data-duration="2200">
                                    <h2>Contact</h2>
                                    <div class="widget-contact-list">
                                        <div class="notification-icon">
                                            <i class="flaticon-phone-call"></i>
                                        </div>
                                        <a href="tel:+1(514)312-5678">965705064</a>
                                        <span>
                                            <a href="tel:+98(000)-9630">+965705065</a>
                                        </span>
                                    </div>
                                    <div class="widget-contact-list bgs-bottom">
                                        <div class="notification-icon">
                                            <i class="flaticon-email"></i>
                                        </div>
                                        <a
                                            href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#731b161f1f1c33111a0b065d101c1e"><span
                                                class="__cf_email__"
                                                data-cfemail="2048454c4c4f60424958550e434f4d">ProFixer@gmail.com</span></a>
                                        <!-- <span>
                                            <a
                                                href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#b6d4dfcec3c5c3c6c6d9c4c2f6d1dbd7dfda98d5d9db"><span
                                                    class="__cf_email__"
                                                    data-cfemail="cfada6b7babcbabfbfa0bdbb8fa8a2aea6a3e1aca0a2">[email&#160;protected]</span></a>
                                        </span> -->
                                    </div>
                                    <div class="widget-contact-list bgs-bottom-12">
                                        <div class="notification-icon">
                                            <i class="flaticon-pin"></i>
                                        </div>
                                        <p>FC Road Pune ,India</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-shape-1" data-cue="slideInRight" data-duration="3000">
                <img src="assets/images/footer-shape.png" alt="images">
            </div>
        </div>
        <!-- End Footer Area -->
    
        <!-- Start Copyright Area -->
     
        <!-- End Copyright Area -->
    
        <!-- Start Back Bottom -->
        <div class="go-top">
            <i class='bx bx-chevrons-up'></i>
        </div>
        <!-- End  Back Bottom -->
    
        <!-- Modal Search -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <button type="button" class="close-search-btn" data-bs-dismiss="modal" aria-label="Close">
                <i class='bx bx-plus'></i>
            </button>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="search-form">
                            <input class="search-input" name="search" placeholder="Search..." type="text">
    
                            <button type="submit" class="search-button">
                                <i class="flaticon-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search -->

        <!-- Js Link -->
        <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/bootstrap-datepicker.min.js"></script>
        <script src="assets/js/scrollCue.min.js"></script>
        <script src="assets/js/aos.js"></script>
        <script src="assets/js/appear.min.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/ajaxchimp.min.js"></script>
        <script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/subscribe-custom.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/meanmenu.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/tweenmax.min.js"></script>
        <script src="assets/js/custom.js"></script>

    </body>

<!-- Mirrored from templates.hibotheme.com/bixu/default/about-style-one.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Feb 2025 18:57:34 GMT -->
</html> 
