<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from templates.hibotheme.com/bixu/default/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Feb 2025 18:57:41 GMT -->
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Css Link -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="assets/css/animate.min.css"> 
        <link rel="stylesheet" href="assets/css/scrollCue.css"> 
        <link rel="stylesheet" href="assets/css/aos.css"> 
        <link rel="stylesheet" href="assets/css/boxicons.min.css"> 
        <link rel="stylesheet" href="assets/css/magnific-popup.css"> 
        <link rel="stylesheet" href="assets/css/flaticon.css"> 
        <link rel="stylesheet" href="assets/css/meanmenu.min.css"> 
        <link rel="stylesheet" href="assets/css/odometer.min.css"> 
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css"> 
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> 
        <link rel="stylesheet" href="assets/css/style.css"> 
        <link rel="stylesheet" href="assets/css/dark.css"> 
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Bixu - Outdoor & Home Services HTML Template</title>

        <link rel="icon" type="image/png" href="assets/images/favicon.png"> 
 
    </head>
    <body>

        <!-- Preloader Area -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
                <span>B</span>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Dark Mode -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- End Dark Mode --> 
        
        <!-- Start Header Area -->
        <div class="header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="single-header-left-content">
                            <ul>
                                <li>
                                    <i class="flaticon-phone-call"></i>
                                    <a href="tel:+1(514)312-5678">+1 (514) 312-5678</a>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <a href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#076f626b6b6847656e7f722964686a"><span class="__cf_email__" data-cfemail="c8a0ada4a4a788aaa1b0bde6aba7a5">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-pin"></i>
                                    New York, United States, NY, 10005
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-header-right-list">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>   
                                <li>
                                    <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>    
                                <li> 
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="flaticon-youtube"></i>
                                    </a>  
                                </li> 
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                        <i class="flaticon-instagram"></i>
                                    </a>  
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-shape-1">
                <img src="assets/images/topbar-shape-1.png" alt="images">
            </div>
            <div class="header-shape-2">
                <img src="assets/images/topbar-shape-2.png" alt="images">
            </div>
        </div>
        <!-- End Header Area -->

        <!-- Start Menubar Area --> 
        <div class="navbar-area"> 
            <!-- Start Menu For Mobile Device -->  
            <div class="container"> 
                <div class="mobile-nav">  
                    <div class="logo">
                        <a href="/"> 
                            <img src="assets/images/logo-one.png" class="logo-light" alt="images">   
                            <img src="assets/images/logo-two.png" class="logo-dark" alt="images">   
                        </a> 
                    </div>
                </div>  
            </div> 
            <!-- End Menu For Mobile Device --> 
            
            <div class="main-nav">         
                <div class="container-fluid">    
                    <nav class="navbar navbar-expand-md navbar-light">   

                        <a href="/">   
                            <img src="assets/images/logo-one.png" class="logo-light" alt="images">   
                            <img src="assets/images/logo-two.png" class="logo-dark" alt="images">   
                        </a>   

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent"> 
                            <ul class="navbar-nav ms-auto">  
                                <li class="nav-item nav-item-five">  
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Home
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    
                                    <ul class="dropdown-menu"> 
                                        <li class="nav-item">
                                            <a href="/" class="nav-link bg-border-top">Cleaning Services</a>        
                                        </li> 
                                        <li class="nav-item">
                                            <a href="/" class="nav-link">Handyman Plumber</a>       
                                        </li>
                                        <li class="nav-item">
                                            <a href="/" class="nav-link bg-border-2">Electrician Services</a>     
                                        </li>  
                                    </ul>

                                </li> 

                                <li class="nav-item nav-item-five"> 

                                    <a href="#" class="nav-link dropdown-toggle">
                                        About Us
                                        <i class='bx bx-chevron-down'></i>
                                    </a>    
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/about" class="nav-link bg-border-top">About Style One</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a href="/about" class="nav-link">About Style Two</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a href="/about" class="nav-link bg-border-2">About Style Three</a>     
                                        </li> 
                                    </ul>

                                </li> 

                                <li class="nav-item nav-item-five"> 

                                    <a href="#" class="nav-link dropdown-toggle">
                                        Services
                                        <i class='bx bx-chevron-down'></i>
                                    </a>    
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/services" class="nav-link bg-border-top">Our Services</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a href="/services" class="nav-link bg-border-2">Services Details</a>     
                                        </li> 
                                    </ul>

                                </li> 

                                <li class="nav-item nav-item-five"> 

                                    <a href="#" class="nav-link dropdown-toggle">
                                        Portfolio
                                        <i class='bx bx-chevron-down'></i>
                                    </a>    
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="portfolio.html" class="nav-link bg-border-top">Our Portfolio</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a href="portfolio-details.html" class="nav-link bg-border-2">Portfolio Details</a>     
                                        </li> 
                                    </ul>

                                </li> 

                                <li class="nav-item nav-item-five"> 

                                    <a href="#" class="nav-link dropdown-toggle active">
                                        Pages
                                        <i class='bx bx-chevron-down'></i>
                                    </a>   

                                    <ul class="dropdown-menu">

                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link bg-border-top">Team</a>     
                                        </li> 

                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">FAQ</a>     
                                        </li> 

                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">Testimonials</a>     
                                        </li> 

                                        <li class="nav-item">
                                            <a href="pricing.html" class="nav-link">Our Pricing</a>     
                                        </li>  

                                        <li class="nav-item"> 

                                            <a href="#" class="nav-link dropdown-toggle active">
                                                User
                                                <i class='bx bx-chevron-down'></i>
                                            </a>   
                                            
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="my-account.html" class="nav-link bg-border-top">My Account</a>     
                                                </li>
                                               <li class="nav-item">
                                                    <a href="/" class="nav-link">Login</a>     
                                                </li>
                                                    <li class="nav-item"> 
                                                    <a href="/signup" class="nav-link active">Register</a>      
                                                </li>  
                                                <li class="nav-item">
                                                    <a href="forgot-password.html" class="nav-link bg-border-2">Forgot Password</a>     
                                                </li>  
                                            </ul>
        
                                        </li>

                                        <li class="nav-item"> 
                                            <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>         
                                        </li> 
                                        <li class="nav-item"> 
                                            <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>         
                                        </li>  
                                        <li class="nav-item"> 
                                            <a href="error.html" class="nav-link">Error</a>         
                                        </li>   
                                        <li class="nav-item"> 
                                            <a href="coming-soon.html" class="nav-link bg-border-2">Coming Soon</a>         
                                        </li>   
                                    </ul>  

                                </li>

                                <li class="nav-item nav-item-five"> 

                                    <a href="#" class="nav-link dropdown-toggle">
                                        Blog
                                        <i class='bx bx-chevron-down'></i>
                                    </a>   
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog.html" class="nav-link bg-border-top">Blog</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link bg-border-2">Blog Details</a>     
                                        </li> 
                                    </ul>

                                </li> 
                                
                                <li class="nav-item"> 
                                    <a href="/contact" class="nav-link">Contact Us</a>      
                                </li> 
                            </ul> 


                            <div class="others-option-vg d-flex align-items-center"> 

                                <div class="option-item">
                                    <button type="button" class="search-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                        <i class="flaticon-search"></i>
                                    </button>
                                </div>

                                <div class="option-item">
                                    <a href="/contact" class="default-btn">Get Free Estimate</a> 
                                </div>
                            </div>
                        </div>
                    </nav> 
                </div>
            </div>     

            <div class="others-option-for-responsive"> 
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option justify-content-center d-flex align-items-center">

                                <div class="option-item">
                                    <button type="button" class="search-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                        <i class="flaticon-search"></i>
                                    </button>
                                </div>

                                <div class="option-item">
                                    <a href="/contact" class="default-btn">Get Free Estimate</a> 
                                </div>
                                
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
        <!-- End Menubar Area -->
<!-- Start Page Banner Area -->
<div class="page-banner-area pt-100">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="single-page-banner-content">
                  <h1>Register</h1>
                  <ul>
                      <li>
                          <a href="/">Home</a>
                      </li>
                      <li>
                          Register
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="single-page-banner-img" data-cue="zoomIn" data-duration="1000">
                  <img src="assets/images/page-banner-img.png" alt="images">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Page Banner Area -->

<!-- Start My Account Area -->
<div class="my-account-area pt-100 pb-70">
  <div class="container">
      <div class="login-form">
          <form action="/signup" method="post" class="my-account-content register-form">
              <div class="section-title">
                  <h2>Register</h2>
                  <span class="top-title">Get Started With Us</span>
              </div>
              <div class="row">
                  <!-- Name Field -->
                  <div class="col-lg-12">
                      <div class="form-group">
                          <input type="text" class="form-control" name="username" placeholder="Name" required>
                      </div>
                  </div>
                  <!-- Email Field (optional) -->
                  <div class="col-lg-12">
                      <div class="form-group">
                          <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                      </div>
                  </div>
                  <!-- Password Field -->
                  <div class="col-lg-12">
                      <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Password" required>
                      </div>
                  </div>
                  <!-- Confirm Password Field -->
                  <div class="col-lg-12">
                      <div class="form-group">
                          <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                      </div>
                  </div>
                  <!-- Submit Button -->
                  <div class="col-lg-12">
                      <button type="submit" class="default-btn btn-style-fore">Register</button>
                  </div>
              </div>
              <div class="border-or">
                  <span>Or Register With</span>
              </div>
              <div class="my-account-list">
                  <ul>
                      <li>
                          <a href="https://www.facebook.com/" target="_blank"> 
                              <i class='bx bxl-facebook'></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://twitter.com/" target="_blank">
                              <i class='bx bxl-twitter'></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/" target="_blank">
                              <i class='bx bxl-linkedin'></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.google.com/" target="_blank">
                              <i class='bx bxl-google'></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <p>Already Have an Account? <a href="/login">Login</a></p>
          </form>
      </div>
  </div>
</div>
        <!-- End My Account area -->

        <!-- Start Footer Area -->
        <div class="footer-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-12" data-cue="fadeIn" data-duration="1000">
                        <div class="footer-widget">
                            <a href="/">
                               <img src="assets/images/logo-two.png" alt="images">
                            </a>
                            <p>Lorem ipsum dolor sit amet cons elit sed doeiusm
                            tempor incididunt ut labore et do magna aliqua enim 
                            minimLorem ipsum dolor sit amet cons elit sed 
                            eiusmod tempor incididunt.</p>
                            <ul class="souile-footer-widget-list">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>   
                                <li>
                                    <a href="https://twitter.com/" target="_blank" class="border-twitter">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>    
                                <li> 
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="flaticon-youtube"></i>
                                    </a>  
                                </li> 
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" class="border-twitter">
                                        <i class="flaticon-instagram"></i>
                                    </a>  
                                </li> 
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-md-4" data-cue="fadeIn" data-duration="1300">
                                <div class="footer-widget footer-left-widget">
                                    <h2>Our Services</h2>
                                    <ul class="list-widget">
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back' ></i>Carpet Cleaning</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back' ></i>Plumbing Services</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back' ></i>Home Cleaning</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back' ></i>Office Services</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back' ></i>Glass Cleaning</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4" data-cue="fadeIn" data-duration="1600">
                                <div class="footer-widget footer-left-two-widget">
                                    <h2>Explore</h2>
                                    <ul class="list-widget">
                                        <li>
                                            <a href="/about"><i class='bx bx-arrow-back' ></i>About Us</a>
                                        </li>
                                        <li>
                                            <a href="/contact"><i class='bx bx-arrow-back' ></i>Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="team.html"><i class='bx bx-arrow-back' ></i>Our Team</a>
                                        </li>
                                        <li>
                                            <a href="/services"><i class='bx bx-arrow-back' ></i>Our Services</a>
                                        </li>
                                        <li>
                                            <a href="Pricing-2.html"><i class='bx bx-arrow-back' ></i>Pricing & Plans</a>
                                        </li>
                                    </ul> 
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4" data-cue="fadeIn" data-duration="1800">
                                <div class="footer-widget footer-left-three-widget">
                                    <h2>Contact</h2>
                                    <div class="widget-contact-list">
                                        <div class="notification-icon">
                                            <i class="flaticon-phone-call"></i>
                                        </div>
                                        <a href="tel:+1(514)312-5678">+1 (514) 312-5678</a>
                                        <span>
                                            <a href="tel:+98(000)-9630">+ 98 (000) - 9630</a>
                                        </span>
                                    </div>
                                    <div class="widget-contact-list bgs-bottom">
                                        <div class="notification-icon">
                                            <i class="flaticon-email"></i>
                                        </div>
                                        <a href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#d3bbb6bfbfbc93b1baaba6fdb0bcbe"><span class="__cf_email__" data-cfemail="d0b8b5bcbcbf90b2b9a8a5feb3bfbd">[email&#160;protected]</span></a> 
                                        <span>
                                            <a href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#7c1e1504090f090c0c130e083c1b111d1510521f1311"><span class="__cf_email__" data-cfemail="2b4942535e585e5b5b44595f6b4c464a424705484446">[email&#160;protected]</span></a>
                                        </span>
                                    </div>
                                    <div class="widget-contact-list bgs-bottom-12">
                                        <div class="notification-icon">
                                            <i class="flaticon-pin"></i>
                                        </div>
                                        <p>28 Benin, South of Niger #, San Francisco, USA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-shape-1" data-cue="slideInRight" data-duration="3000"> 
                <img src="assets/images/footer-shape.png" alt="images">
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Start Copyright Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="single-copyright-content">
                    <p>© Bixu is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                </div>
            </div>
        </div>
        <!-- End Copyright Area -->

        <!-- Start Back Bottom --> 
		<div class="go-top">  
            <i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End  Back Bottom -->

        <!-- Modal Search -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <button type="button" class="close-search-btn" data-bs-dismiss="modal" aria-label="Close">
                <i class='bx bx-plus'></i>
            </button>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="search-form">
                            <input class="search-input" name="search" placeholder="Search..." type="text">

                            <button type="submit" class="search-button">
                                <i class="flaticon-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search -->


        <!-- Js Link -->
        <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/bootstrap-datepicker.min.js"></script>
        <script src="assets/js/scrollCue.min.js"></script>
        <script src="assets/js/aos.js"></script>
        <script src="assets/js/appear.min.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/ajaxchimp.min.js"></script>
        <script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/subscribe-custom.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/meanmenu.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/tweenmax.min.js"></script>
        <script src="assets/js/custom.js"></script>

    </body>

<!-- Mirrored from templates.hibotheme.com/bixu/default/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Feb 2025 18:57:41 GMT -->
</html> 